@model IEnumerable<FoolingAround.Models.Store>

@{
    ViewBag.Title = "StorePassword";
}

<h2>StorePassword</h2>

<h2>Enter Password</h2>
<div class="row">
    <div class="col-lg-3">
        <div class="input-group">
            <input type="text" id="passwordText" class="form-control" placeholder="Password..." />
            <span class="input-group-btn">
                <button class="btn btn-default" onclick="myFunction()" type="button">Go!</button>
            </span>
        </div>@*< !-- /input-group -->*@
    </div>@*< !-- /.col-lg-6 -->*@
</div>
<p id="validation"></p>

<script>
    function myFunction() {
        var inputVal = document.getElementById("passwordText").value;
        var valid;

        /* location.href = 'https://localhost:44396/Stores/Details/' + inputVal;*/

        if (inputVal < 1000) {
            location.href = 'https://localhost:44396/Stores/Details/' + inputVal;
            valid= "Please wait while we redirect you. Thank You!"
        }
        else {
            valid = "Incorrect Password"
        }
        document.getElementById("validation").innerHTML = valid;
    }
</script>

